<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BudzetManager.Properties.Settings.uiZU4ZA6xVConnectionString"
            connectionString="server=remotemysql.com;user id=uiZU4ZA6xV;password=OgTIPV9l7h;persistsecurityinfo=True;database=uiZU4ZA6xV"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>